$purple: #CF33CF;
$teal: #10D2C4;
$blue: #0045C6;

.nav-height {
  position: fixed;
  background: #000;
  color: #fff;
  height: 50px;
}


.header {
  position: sticky !important;
  border-bottom: 1px solid #000;
  top: 0px;
  z-index: 3;
  background: #fff;
}

.bg-preva {
  background-color: #3030d2c9 !important;
  color: white;
}

#errorMessage {
  color: black;

  img {
    background: #e31d1d !important
  }
}

@media (min-width: 1200px) {
  .analyse-buttons {
    text-align: right;
  }

}

.analyse-buttons {

}


.padingTitle {
  padding: .75rem;
}

.messureIcon {
  width: 250px;
  height: 250px;
}

.bg-preva-loadingscreen {
  height: 250px;
  background-color: #fff !important;
  color: #000;
}

#uploadButton2:focus {
  outline: 0 !important;
}

a.hover-upload {
  color: #000;
  text-decoration: unset;
}

.hover-upload:hover {
  color: white !important;
  border-color: white;
  background-color: #3030d2c9;
}

.success-color {
  background-color: #fff;

  &:hover {
    background-color: #b7d8b7 !important
  }
}

.traffic-light {
  height: 16px;
  width: 16px;
}

.table-heading-padding {
  padding: .7rem !important;
}

.hr-border {
  border-top: 2px solid rgba(0, 0, 0, .1);
}

.search-icon {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid #000;
  border-radius: 12px;
}

.rounded-button {
  border-radius: 12px !important;
}

.hover-header:hover {
  border-left: 2px double #ffffff;
  border-right: 2px double #ffffff;
}

.login {
  position: absolute;
  left: 25%;
  bottom: 50%;
  width: 50%;
  height: 30%;
}

.list-container {
  height: 500px;
}

.content-hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-upload {
  background-image: url("../assets/image-one.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media(max-width: 1199px) {
  .list-container {
    height: 400px;
  }
  .second-list-order-text {
    order: 1;
  }
  .second-list-order-image {
    order: 2
  }
  #errorMessage, #successBox {
    right: 0;
    left: 0;
    width: 90% !important;
  }
}

#successBox {
  img {
    background: #b7d8b7 !important
  }
}

.get-started {
  background-image: url("../assets/get-started.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-position-right {
  background-position: right;
}

@media(max-width: 994px) {
  .box-1 {
    order: 2;
  }
  .box-2 {
    order: 1
  }
}

.background-image-homepage {
  background-image: url("../assets/nelf.jpg ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.card {
  border-radius: 8px;
  padding: 16px !important;
  margin: 16px !important;
  background-color: #fff;
  box-shadow: 0 4px 10px #00000578;
}

.icon {
  height: 50px;
  width: 50px;
}

.icon-text {
  height: 16px;
  width: 16px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.overflow-scroll {
  overflow: scroll;
  overflow-x: hidden !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.background-image-blog {
  background-image: url("../assets/hyrule.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-nav {
  background-image: url("../assets/links_hat.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-preva {
  position: relative;
  background-image: url("../assets/preva_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.saving span {
  font-size: 36px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}

.border-radius-search {
  border-radius: 10px !important;
}

.border-shadow-statistic {
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.text-white {
  color: #000000 !important;
}

.text-black {
  color: #000000;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.submitButton {
  background: white;
}

.modal-style {
  z-index: 2;
  position: fixed;
  right: 0;
  left: 0;
  top: 33%;
  width: 400px;
  height: 222px;
}

.font-family-arial {
  font-family: Arial;
}


//Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animation-style {
  margin-top: auto;
  padding: .5rem;
}

.animation-style-points {
  margin-top: auto;
  margin-bottom: auto;
  padding: .5rem;
}

.animate-flicker1 {
  animation-name: animationTest;
  animation-iteration-count: 3;
  animation-fill-mode: both;
  animation-duration: 3s;
}

.preva-icon {
  width: 64px;
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  background-image: url("../assets/get-started.jpg");

}

#dummyHeader {
  height: 72px;
  display: blocK;
  @media(min-width: 992px) {
    display: none;
  }
}

#headerNavigation {
  .medium-width {
    //margin-bottom: 16px;

    .border-left-preva.d-flex:after {
      content: " ";
      position: absolute;
      border-left: 1px solid #000;
      top: 15%;
      height: 75%;
    }

    .preva-image {

      padding-right: 32px;
      padding-left: 32px;
    }

    .border-right-left {
      :after {
        border-left: unset;
        border-right: unset;
      }
    }

    .header-item {
      margin: auto 32px;
      font-weight: bold;

      &:hover {
        color: #3030d2c9 !important;
        cursor: pointer;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 2px;
      }
    }
  }

  .mobile-width {
    display: none;
    position: fixed;
    z-index: 10;
    background: #fff;
    width: 100%;
  }

  @media(max-width: 991px) {
    .medium-width {
      display: none !important;

    }
    .mobile-width {
      display: unset;
    }
  }

  #sidebar {
    position: fixed;
    top: 73px;
    bottom: 48px;
    width: 100%;
    z-index: 3;
    left: 0;
    background: #fff;

    ul {
      cursor: pointer;
      width: 100%;
      background: #fff;
      z-index: 1;
      position: absolute;
      padding-left: 0;
      list-style: none;

      li {
        padding: 16px;

        &:hover {
          color: white !important;
          border-color: white;
          background-color: #3030d2c9;
        }

        border: 0;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
      }

      .li:hover {
        text-underline: red;
      }
    }
  }
}

.colournew {
  color: #fff;
}

#product {
  h1 {
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
  }

  hr {
    width: 50%;
  }

  #carousel-example-generic {
    padding: 100px 100px;

    img {
      height: 150px;
    }


    .text-area {
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;

      hr {
        border-top: 2px solid #000;
      }

      h2 {
        margin-top: auto;
      }

      h2, .content {
        text-align: center;
        width: 100%;
      }

      .main-content {

        text-align: center;
      }

      .content {
        color: lightgray;
      }
    }

    .carousel-icon {
      width: 40px;
      height: 40px;
      color: #4f5052;
      flex-grow: 0;
      border-radius: 100%;
      display: inline-flex;
      border: solid 1px #cdcdd0;
      text-decoration: none;
      margin-right: 8px;
      background: #000;

      .span {
        margin: auto;
      }

      &:hover {
        background: #3030d2c9;
      }

      &:active {
        background-color: #4f5052;
        color: #fff;
        text-decoration: none;
      }
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
      margin: auto;
    }

    .carousel-item.active {
      text-align: center;
    }

    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0;
      margin-right: 15%;
      margin-bottom: 1rem;
      margin-left: 15%;
      list-style: none;
    }

    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .carousel-control-next {
      border: unset;
      background-image: linear-gradient(
                      270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .001));
    }

    .carousel-control-prev {
      border: unset;
      background-image: linear-gradient(
                      270deg, rgba(0, 0, 0, .001), rgba(0, 0, 0, .25));
    }

    i {
      color: #000 !important;
    }

  }

  @media (max-width: 1200px) {
    #carousel-example-generic {
      padding: 50px 16px !important;
    }
  }

}


#navbarBackdrop.showing {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.slide-out {
  animation: slideout 1s forwards;
}

.slide-in {
  animation: slidein 1s forwards;
}

@keyframes slidein {
  from {
    color: #fff;
    width: 0%;
  }

  to {
    color: #000;
    width: 100%;
    display: blocK;
  }
}

@keyframes slideout {
  0% {
    display: block;
    z-index: 1;
    color: #000;
    width: 100%;
  }
  50% {
    opacity: 0;
  }
  99% {
    display: block;
    z-index: 3;
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    width: 0;
  }
}

.dummy-footer {
  height: 50px;
}

.footer {
  z-index: 4;
  position: fixed !important;
  bottom: 0;
}

.border-right-left {
  :after {
    content: '';
    position: absolute;
    border-left: 1px solid #000;
    border-right: 1px solid #0f6674;
    left: 0px;
    top: 15%;
    height: 75%;
  }
}

.border-right-preva {
  :after {
    content: '';
    position: absolute;
    //border-right: 1px solid #0f6674;
    border-right: 1px solid #000;
    top: 15%;
    height: 75%;
  }
}


.burger-nav {
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-preva {
  line-height: 1.8;
  margin-bottom: 0;
}

.button-border {
  border: 1px solid black !important;
}

#test1:after {
  content: "";
  animation: spin 9s linear;
}

@keyframes spin {
  0% {
    content: "Converting Model";
  }
  66% {
    content: "Analyzing Model"
  }
  70% {
    content: "Prepare Analysis";
  }
  100% {
    content: "Prepare Analysis";
  }
}

//animation-delay: 3s;

@keyframes animationTest {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.min-height-statistic {
  min-height: 410px;

  tbody tr:hover {
    background-color: #7d7dd7c7 !important;
    color: white;
  }
}

//SUCCESS BOX
.success-box-fade-out {
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

.tableIcon {
  height: 25px;
  width: 25px;
}

.success-box-style {
  display: block;
  position: fixed !important;
  top: 10%;
  width: 451px !important;
  right: 10%;
  background-color: #b7d8b7 !important;
}

.error-box-style {
  display: block;
  position: fixed !important;
  top: 10%;
  right: 10%;
  width: 451px !important;;
  background-color: #e31d1d !important;
}

.point-animation {
  font-size: 40px;
}

.hr-line {
  background-color: #000;
}

.card-border {
  box-shadow: 0px 1px 13px 0px #f2f996;
}

.loadingScreen {
  animation-name: test;
}

.cursor-pointer {
  cursor: pointer;
}

.activeStatistic {
  background-color: #3030d2c9 !important;
  color: white;
}

//ABOUT US

#aboutUs {
  .teamimg {
    height: 250px;
    max-width: 100%;
  }

  .card {
    margin-right: 0;
    margin-left: 0;
  }

  .content-hr {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }

  .panel {
    margin-top: auto;
    margin-bottom: auto;

    .border-right-side {
      background: #000;
      left: -1px;
      border-top-right-radius: 25%;
    }

    .point-header {
      padding: 1px 16px;
      font-weight: bold;
      background: #000;
      color: #fff;
    }
  }
}

section {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    max-width: 700px;
  }

  @media (min-width: 992px) {
    max-width: 991px;
  }

  @media (min-width: 1200px) {
    max-width: 1110px;
  }
}

input, textarea {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #cdcdd0;
  border-radius: 10px;
  background-color: #fff;
  background-clip: padding-box;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #000;

  &:focus-visible {
    outline-offset: unset;
    outline: unset;
  }

  &:focus {
    border-color: #21cda4;
    outline: 0;
  }
}

#contactForm {
  hr {
    max-width: 50%;
  }

  input, textarea {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #cdcdd0;
    border-radius: 10px;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000;

    &:focus-visible {
      outline-offset: unset;
      outline: unset;
    }

    &:focus {
      border-color: #21cda4;
      outline: 0;
    }
  }

  button {

    padding: 12px 8px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: #fff;

    &:hover, &:focus {
      color: white !important;
      border-color: white;
      background-color: #3030d2c9;
    }
  }
}

#wip {
  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    max-width: 50%;
  }

  .wip-martha {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}

.position-fixed {
  position: fixed;
}

.preva-btn {
  min-width: 168px;
  height: 44px;
  line-height: 2;
  color: $blue;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid $blue;
  border-radius: 12px;
  background-color: #fff;
  padding: 6px;
  cursor: pointer;
  text-align: center;

  &:hover, &:active {
    color: white !important;
    border-color: white;
    background-color: $blue;
  }
}

#home {
  .full-height-bg {
    background-image: url("../assets/gardiant-background-2.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .full-height-bg-height {
    color: #fff;
    display: flex;
    align-items: center;
    height: 95vh;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    p {
      font-weight: bold;
    }
  }
}