.nav-height {
  height: 50px;
}

.bg-preva {
  background-color: #3030d2c9 !important;
  color: white;
}

#errorMessage {
  color: black;
}

.padingTitle {
  padding: .75rem;
}

.messureIcon {
  width: 250px;
  height: 250px;
}

.bg-preva-loadingscreen {
  height: 250px;
  background-color: #fff !important;
  color: #000;
}

#uploadButton2:focus {
  outline: 0 !important;
}

.hover-upload:hover {
  color: white !important;
  border-color: white;
  background-color: #3030d2c9;
}

.success-color {
  background-color: #68ec0e96;
}

.traffic-light{
  height:16px;
  width:16px;
}

.table-heading-padding{
  padding: .7rem!important;
}

.hr-border{
  border-top: 2px solid rgba(0,0,0,.1);
}

.search-icon {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 2px solid #000;
  border-radius: 12px;
}

.rounded-button {
  border-radius: 12px !important;
}

.hover-header:hover {
  border-left: 2px double #ffffff;
  border-right: 2px double #ffffff;
}

.login {
  position: absolute;
  left: 25%;
  bottom: 50%;
  width: 50%;
  height: 30%;
}

.background-image-homepage {
  background-image: url("../assets/nelf.jpg ");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.icon {
  height: 50px;
  width: 50px;
}

.overflow-scroll {
  overflow: scroll;
  overflow-x: hidden !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.background-image-blog {
  background-image: url("../assets/hyrule.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-nav {
  background-image: url("../assets/links_hat.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-preva {
  position: relative;
  background-image: url("../assets/preva_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.saving span {
  font-size: 36px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}

.border-radius-search {
  border-radius: 10px !important;
}

.border-shadow-statistic {
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.text-white {
  color: #000000 !important;
}

.text-black {
  color: #000000;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.submitButton {
  border: none;
  background: white;
}

.modal-style {
  z-index: 2;
  position: fixed;
  right: 0;
  left: 0;
  top: 33%;
  width: 400px;
  height: 222px;
}

.font-family-arial {
  font-family: Arial;
}


//Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animation-style {
  margin-top: auto;
  padding: .5rem;
}

.animation-style-points {
  margin-top: auto;
  margin-bottom: auto;
  padding: .5rem;
}

.animate-flicker1 {
  animation-name: animationTest;
  animation-iteration-count: 3;
  animation-fill-mode: both;
  animation-duration: 3s;
}

.preva-icon {
  width: 200px;
  height: 200px;
}

.button-border {
  border: 1px solid black !important;
}

#test1:after {
  content: "";
  animation: spin 9s linear;
}

@keyframes spin {
  0% {
    content: "Converting Model";
  }
  66% {
    content: "Analyzing Model"
  }
  70% {
    content: "Prepare Analysis";
  }
  100% {
    content: "Prepare Analysis";
  }
}

//animation-delay: 3s;

@keyframes animationTest {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.min-height-statistic {
  min-height: 410px;
}

//SUCCESS BOX
.success-box-fade-out {
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

.tableIcon {
  height: 25px;
  width: 25px;
}

.success-box-style {
  display: block;
  position: fixed !important;
  top: 10%;
  width: 451px !important;
  right: 10%;
  background-color: #b7d8b7 !important;
}

.error-box-style {
  display: block;
  position: fixed !important;
  top: 10%;
  right: 10%;
  width: 451px !important;;
  background-color: #e31d1d !important;
}

.point-animation {
  font-size: 40px;
}

.hr-line {
  background-color: #000;
}

.card-border {
  box-shadow: 0px 1px 13px 0px #f2f996;
}

.loadingScreen {
  animation-name: test;
}

.cursor-pointer {
  cursor: pointer;
}

.activeStatistic {
  background-color: #3030d2c9 !important;
  color: white;
}